@page "/panel/kullaniciAtamaDepo"
@layout Components.Layout.MainLayoutDepo
@rendermode InteractiveServer
<link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" rel="stylesheet" asp-append-version="true" />
<PageTitle>OMNIA</PageTitle>

<div class="px-4 mb-4">

    <h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
        Atama İşlemleri
    </h3>

    <div class="lg:w-3/5 mx-auto px-4 mb-4">
        <div class="flex items-center justify-between bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 px-8 py-2">
            <a href="panel/atamalarDepo">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 text-white hover:text-orange-300">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
                </svg>
            </a>
            <h1 class="text-lg text-white font-bold py-2 px-2">Kullanıcı Atama</h1>
            <div></div>
        </div>
        <div class="bg-white shadow-md p-4">
            <div class="pb-2 w-full">
                Livedaki teslimat/firmaAtama sayfasına denk gelenin aynısı kullanılacak. burada da bir kopyasının bulunması lazım
            </div>
            <div>
            </div>

        </div>

    </div>
</div>

