@page "/panel/depoRapor"
@layout Components.Layout.RaporLayoutDepo
@rendermode InteractiveServer
<PageTitle>OMNIA</PageTitle>

<h3 class="text-sm text-orange-600 p-4">
    Görüntülemek istediğiniz rapor türünü seçiniz
</h3>