@page "/panel/siparisler"
@layout Components.Layout.MainLayoutDepo
@rendermode InteractiveServer
<link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" rel="stylesheet" asp-append-version="true" />
<PageTitle>OMNIA</PageTitle>

<h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
    Siparişler
</h3>

<div class="flex flex-col px-4 mb-4">
    <B2Online.Components.Pages.DepoPages.SubComponents.Reports.SiparisListesi />
</div>
