@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    <div>
        <NavMenuDepo />
    </div>
    <main class="w-screen content">
        @Body
    </main>
</div>