@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" rel="stylesheet" asp-append-version="true" />

<div class="page">
    <div>
        <NavMenu />
    </div>
    <main class="w-screen content">
        <h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
            Raporlar
        </h3>

        <div class="flex flex-col lg:flex-row px-4">
            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm">
                    <option value="" selected disabled>Teslimat Raporları</option>
                    <option value="/panel/rapor/TeslimRapor">Teslimat Raporu</option>
                    <option value="/panel/rapor/TeslimIade">İade Raporu</option>
                    <option value="/panel/rapor/TeslimAylik">Aylık Teslimat Raporu</option>
                    <option value="/panel/rapor/TeslimGunluk">Günlük Teslimat Raporu</option>
                    <option value="/panel/rapor/TeslimEdilemeyen">Teslim Edilemeyenler</option>
                    <option value="/panel/rapor/TeslimDagitimda">Dağıtımda Olanlar</option>
                </select>
            </div>

            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm">
                    <option value="" selected disabled>Fatura Raporları</option>
                    <option value="/panel/rapor/FaturaListe">Fatura Listesi</option>
                    <option value="/panel/rapor/FaturaDetay">Fatura Detay Raporu</option>
                    <option value="/panel/rapor/FaturaHak">Fatura Hakediş Raporu</option>
                    <option value="/panel/rapor/FaturaUrun">Ürün Bazlı Fatura Raporu</option>
                    <option value="/panel/rapor/FaturaOzel">Özel Fatura Detay Raporu</option>
                    <option value="/panel/rapor/FaturaEllecleme">Elleçleme Detay Raporu</option>
                    <option value="/panel/rapor/FaturaCari">Cari Ekstre</option>
                </select>
            </div>

            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm">
                    <option value="" selected disabled>Filo Yönetim Raporları</option>
                    <option value="/panel/rapor/YakitAlim">Akaryakıt Alım Raporu</option>
                    <option value="/panel/rapor/YakitToplam">Toplam Akaryakıt Alım</option>
                    <option value="/panel/rapor/YakitGunluk">Günlük KM Raporu</option>
                    <option value="/panel/rapor/YakitFark">Yakıt Fark Raporu</option>
                </select>
            </div>
        </div>

        <div class="p-4">
            <div class="shadow-md bg-white">
                @Body
            </div>
        </div>
    </main>
</div>

@code {
}