@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<link href="_content/DevExpress.Blazor.Themes/bootstrap-external.bs5.min.css" rel="stylesheet" asp-append-version="true" />

<div class="page">
    <div>
        <NavMenuDepo />
    </div>
    <main class="w-screen content">
        <h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
            Raporlar
        </h3>

        <div class="flex flex-col lg:flex-row px-4">
            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm font-bold">
                    <option value="" selected disabled>Sipariş Raporları</option>
                    <option value="/panel/rapor/siparisListesi">Sipariş Listesi</option>
                    <option value="/panel/rapor/siparisIptal">İptal Edilenler</option>
                    <option value="/panel/rapor/siparisAylik">Aylık Sipariş Listesi</option>
                    <option value="/panel/rapor/siparisGunluk">Günlük Sipariş Listesi</option>
                    <option value="/panel/rapor/siparisToplanan">Toplanan Siparişler</option>
                    <option value="/panel/rapor/siparisToplamada">Toplamada Olanlar</option>
                </select>
            </div>

            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm font-bold">
                    <option value="" selected disabled>Stok ve İşlem Raporları</option>
                    <option value="/panel/rapor/stokToplu">Stok Listesi (Toplu)</option>
                    <option value="/panel/rapor/stokDetay">Stok Listesi (SKT Detay)</option>
                    <option value="/panel/rapor/stokKritik">Kritik SKT'li Ürünler</option>
                    <option value="/panel/rapor/stokElleclenen">Elleçlenen Koli Raporu</option>
                    <option value="/panel/rapor/stokEllecDetay">Elleçleme Detay</option>
                </select>
            </div>

            <div class="mb-2 lg:mb-0 lg:mr-4">
                <select onchange="window.location.href=this.value;" class="text-blue-950 rounded-md shadow-md focus:outline-orange-500 p-2 w-full text-sm hover:shadow-sm font-bold">
                    <option value="" selected disabled>Fatura Raporları</option>
                    <option value="/panel/rapor/SiparisListesi">Palet Bazlı Stok Gün</option>
                    <option value="/panel/rapor/SiparisListesi">Koli Bazlı Stok Gün</option>
                    <option value="/panel/rapor/SiparisListesi">Elleçlenen Koli</option>
                    <option value="/panel/rapor/SiparisListesi">Mal Kabulü Yapılan Palet</option>
                    <option value="/panel/rapor/SiparisListesi">Mal Kabulü Yapılan Koli</option>
                    <option value="/panel/rapor/SiparisListesi">Yükleme Palet</option>
                    <option value="/panel/rapor/SiparisListesi">Yükleme Koli</option>
                </select>
            </div>
        </div>

        <div class="p-4">
            <div class="shadow-md bg-white">
                @Body
            </div>
        </div>
    </main>
</div>

@code {
}