@page "/panel"
@layout Components.Layout.PanelLayout
<PageTitle>OMNIA</PageTitle>

<div class="flex flex-col items-center justify-center lg:h-screen">

    <div class="mx-auto lg:w-1/2 bg-white shadow-lg p-2">
        <div class="text-center">
            <div class="flex flex-row justify-center pt-4 lg:pt-8">
                <h3 class="text-2xl lg:text-4xl text-blue-950 font-bold">
                    Hoşgeldiniz
                </h3>
                <h3 class="text-2xl lg:text-4xl text-white">
                    -
                </h3>
                <h3 class="text-2xl lg:text-4xl text-orange-500 font-bold">
                    {CustomerName}
                </h3>
                <h3 class="text-2xl lg:text-4xl text-blue-950 font-bold">
                    !
                </h3>
            </div>

            <h1 class="text-lg lg:text-xl text-blue-950 font-bold">
                Size hangi konuda yardımcı olabilirim?
            </h1>

            <div class="max-w-5xl mx-auto mt-4 lg:mt-8">
                <div class="flex flex-col lg:flex-row justify-center mx-4">
                    <a href="panel/home" class="flex items-center mx-4">
                        <img src="/assets/h-teslimat.png" alt="Image 1" class="h-auto scale-90 hover:scale-100">
                    </a>

                    <a href="panel/depo" class="flex items-center lg:mx-4">
                        <img src="/assets/h-depo.png" alt="Image 2" class="h-auto scale-90 hover:scale-100">
                    </a>

                    <a href="https://odeme.b2cargo.com/" class="flex items-center mx-10">
                        <img src="/assets/h-odeme.png" alt="Image 3" class="h-auto scale-90 hover:scale-100">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col justify-center text-center mt-4 lg:mt-8 pb-3 lg:pb-0">
        <h3 class="text-xl text-orange-500 font-bold">
            OMNIA
        </h3>
        <h3 class="text-xs text-orange-500">
            Powered by Navis Kurumsal, brand of B2Group <br />
            All Rights Reserved
        </h3>
    </div>

</div>
