@page "/panel/atamalar"
@layout Components.Layout.MainLayout
<h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
    Atama İşlemleri
</h3>

<div class="lg:w-3/5 mx-auto px-4 mb-4">
    <div class="bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950">
        <h1 class="text-lg text-white text-center py-4 px-2 font-bold">
            Aktif Kullanıcı Bilgileri
        </h1>
    </div>
    <div class="bg-white shadow-md">
        <div class="pt-4">
            <div class="p-4 flex flex-col lg:flex-row">
                <label for="Email" class="block text-blue-950 text-sm font-bold w-1/4 lg:mt-2">E-Posta Adresi</label>
                <input type="text" id="Email" class="text-md p-2 block w-full rounded-md border border-slate-200 focus:outline-orange-500">
            </div>
            <div class="p-4 flex flex-col lg:flex-row">
                <label for="Telephone" class="block text-blue-950 text-sm font-bold w-1/4 lg:mt-2">Telefon Numarası</label>
                <input type="text" id="Telephone" class="text-md p-2 block w-full rounded-md border border-slate-200 focus:outline-orange-500">
            </div>
        </div>

        <div class="flex flex-col lg:flex-row p-4">
            <div class="flex-1 lg:p-2">
                <button class="w-full shadow-md rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md px-4 py-2 mb-2 hover:text-blue-950 hover:from-white hover:shadow-sm border-2 border-violet-950 inline-flex items-center justify-center">Bilgilerimi Kaydet</button>
            </div>
            <div class="flex-1 lg:p-2">
                <a href="panel/kullaniciAtama" class="w-full shadow-md rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md px-4 py-2 mb-2 hover:text-blue-950 hover:from-white hover:shadow-sm border-2 border-violet-950 inline-flex items-center justify-center">Kullanıcı Atama</a>
            </div>
        </div>

    </div>
</div>