@code {
    [Parameter] public string ATFLabel { get; set; }
    [Parameter] public string IrsaliyeLabel { get; set; }
    [Parameter] public string TeslimatDurumu { get; set; }
    [Parameter] public string Gonderen { get; set; }
    [Parameter] public string Alici { get; set; }
    [Parameter] public string Koli { get; set; }
    [Parameter] public string KGDesi { get; set; }
    [Parameter] public string UrunGrubu { get; set; }
}

<div class="bg-white shadow-md p-4">
    <form class="flex flex-col">
        <div class="flex flex-row py-2">
            <label for="atf" class="text-orange-500 text-sm py-2 w-1/3 font-bold">
                @ATFLabel
            </label>
            <input id="atf" name="atf" class="p-2 block w-full rounded-md shadow-md focus:outline-orange-500">
        </div>

        <div class="flex flex-row py-2">
            <label for="irsaliye" class="text-orange-500 text-sm py-2 w-1/3 font-bold">
                @IrsaliyeLabel
            </label>
            <input id="irsaliye" name="irsaliye" class="p-2 block w-full rounded-md shadow-sm focus:outline-orange-500">
        </div>
    </form>

    <div class="py-4">
        <div class="mb-4">
            <label class="text-blue-950 text-sm py-2 font-bold">
                Teslimat Durumu:
            </label>
            <label class="text-orange-500 text-sm py-2">
                @TeslimatDurumu
            </label>
        </div>
        <img class="relative w-full" src="assets/husky-0.png" />
    </div>

    <div class="py-2">
        <label class="text-blue-950 text-sm font-bold">
            Gönderen:
        </label>
        <label class="text-orange-500 text-sm py-2">
            @Gonderen
        </label>
    </div>

    <div class="py-2">
        <label class="text-blue-950 text-sm py-2 font-bold">
            Alıcı:
        </label>
        <label class="text-orange-500 text-sm py-2">
            @Alici
        </label>
    </div>

    <div class="py-2">
        <label class="text-blue-950 text-sm py-2 font-bold">
            Koli:
        </label>
        <label class="text-orange-500 text-sm py-2">
            @Koli
        </label>
    </div>

    <div class="py-2">
        <label class="text-blue-950 text-sm py-2 font-bold">
            KG - Desi:
        </label>
        <label class="text-orange-500 text-sm py-2">
            @KGDesi
        </label>
    </div>

    <div class="py-2">
        <label class="text-blue-950 text-sm py-2 font-bold">
            Ürün Grubu:
        </label>
        <label class="text-orange-500 text-sm py">
            @UrunGrubu
        </label>
    </div>
</div>