@page "/panel/home"
@layout Components.Layout.MainLayout
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime
<PageTitle>OMNIA</PageTitle>

<div class="lg:flex-col justify-center">
    <div class="flex flex-col text-center p-4">
        <div class="flex flex-row justify-center">
            <h3 class="text-xl lg:text-4xl text-blue-950 font-bold">
                Hoşgeldiniz
            </h3>
            <h3 class="text-xl lg:text-4xl text-white">
                -
            </h3>
            <h3 class="text-xl lg:text-4xl text-orange-500 font-bold">
                {customerName}
            </h3>
            <h3 class="text-xl lg:text-4xl text-blue-950 font-bold">
                !
            </h3>
        </div>

        <h1 class="text-lg lg:text-xl text-blue-950 font-bold">
            Size nasıl yardımcı olabilirim?
        </h1>
    </div>

    <div class="flex justify-center flex-col lg:flex-row">
        <div class="flex flex-col px-4 w-full lg:w-1/3 mb-4 lg:mb-0">
            <div class="bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950">
                <h1 class="text-white text-lg text-center py-4 px-2">
                    ATF ya da irsaliye numaranızla hızlı sorgulama yapabilirsiniz
                </h1>
            </div>

            <AtfTarayici ATFLabel="ATF No"
                         IrsaliyeLabel="İrsaliye No"
                         TeslimatDurumu="ATF ya da irsaliye numaranızı giriniz"
                         Gonderen=""
                         Alici=""
                         Koli=""
                         KGDesi=""
                         UrunGrubu="" />
        </div>

        <div class="flex flex-col px-4 lg:px-0 lg:mr-4 mb-4 lg:mb-0 w-full lg:w-2/3">
            <div class="bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950">
                <h1 class="text-lg text-white text-center py-4 px-2">
                    Veya son teslimatlarınızı görüntüleyebilir, hızlıca istatistiklerinize göz atabilirsiniz
                </h1>
            </div>

            <div class="bg-white shadow-md">
                <div class="flex flex-col lg:flex-row">
                    <div class="flex flex-row lg:flex-col">
                        <div class="flex flex-col lg:py-12 lg:mb-8 px-1 lg:px-4">
                            <h1 class="text-center text-md lg:text-5xl text-violet-950 font-bold mb-1">
                                99
                            </h1>
                            <h1 class="text-center text-xs lg:text-md text-violet-950">
                                Mal Kabulü Yapılmış Teslimat
                            </h1>
                        </div>
                        <div class="flex flex-col lg:mb-20 px-1 lg:px-4">
                            <h1 class="text-center text-md lg:text-5xl text-violet-950 font-bold mb-1">
                                99
                            </h1>
                            <h1 class="text-center text-xs lg:text-md text-violet-950">
                                Dağıtım Deposuna Gönderilen Teslimat
                            </h1>
                        </div>
                        <div class="flex flex-col lg:mb-20 px-1 lg:px-4">
                            <h1 class="text-center text-md lg:text-5xl text-violet-950 font-bold mb-1">
                                99
                            </h1>
                            <h1 class="text-center text-xs lg:text-md text-violet-950">
                                Dağıtım Deposundaki Teslimat
                            </h1>
                        </div>
                        <div class="flex flex-col lg:mb-12 px-1 lg:px-4">
                            <h1 class="text-center text-md lg:text-5xl text-violet-950 font-bold mb-1">
                                99
                            </h1>
                            <h1 class="text-center text-xs lg:text-md text-violet-950">
                                Dağıtımdaki Teslimat
                            </h1>
                        </div>
                    </div>

                    <div class="flex flex-col w-full">
                        <div class="bg-white">
                            <div class="lg:pt-2 px-4">
                                <div id="bar-chart">
                                </div>
                            </div>
                        </div>

                        <div class="px-2">
                            <table class="min-w-full bg-white">
                                <thead class="bg-white text-blue-950">
                                    <tr>
                                        <td class="text-center md-4 px-2 lg:text-md text-sm font-bold">ATF No</td>
                                        <td class="text-center md-4 px-2 lg:text-md text-sm font-bold">ATF Tarihi</td>
                                        <td class="text-center md-4 px-2 lg:text-md text-sm font-bold">Teslim Alan</td>
                                        <td class="text-center md-4 px-2 lg:text-md text-sm font-bold">Statü</td>
                                    </tr>
                                </thead>

                                <tbody class="text-blue-950 bg-slate-50">
                                    <tr class="bg-slate-50 clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-white clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-slate-50 clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-white clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-slate-50 clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-white clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-slate-50 clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-white clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-slate-50 clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                    <tr class="bg-white clickable" onclick="window.location='/panel/durum';">
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                        <td class="text-center py-2 px-2 text-xs lg:text-sm text-blue-950">Veri alınıyor...</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("renderChart");
        }
    }
}