@page "/panel/istatistik"
@layout Components.Layout.MainLayout
<PageTitle>OMNIA</PageTitle>

<h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4 mb-8">
    Teslimat İstatistikleri
</h3>