@page "/"
@layout Components.Layout.LoginLayout

<PageTitle>OMNIA</PageTitle>

<div class="flex justify-center items-center min-h-screen">
                <div class="w-1/3">
                        <img src="assets/omnia-login.png"
                             class="w-auto "
                             alt="OMNIA"/>
        </div>

        <div>
        <img src="assets/husky-login.png"
             class="w-1/2 translate-x-20 translate-y-12 sm-hidden"
             alt="OMNIA"/>
        <div class="bg-white p-8 py-4 rounded-lg shadow-md w-80">
            <form>
                <div class="py-8">
                    <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Kullanıcı Adı</label>
                    <input type="text" id="username" name="username" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Şifre</label>
                    <input type="password" id="password" name="password" class="block w-full border-gray-300 rounded-md shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                </div>

                <div class="mb-4 flex items-center">
                    <input type="checkbox" id="remember_me" name="remember_me" class="mr-2">
                    <label for="remember_me" class="text-gray-700 text-sm font-bold">Beni Hatırla</label>
                </div>

                <div class="mb-4 flex items-center">
                    <input type="checkbox" id="not_a_robot" name="not_a_robot" class="mr-2">
                    <label for="not_a_robot" class="text-gray-700 text-sm font-bold">Robot Değilim</label>
                </div>

                <a href="/panel/home" type="submit" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded bg-orange-500 text-center">Giriş Yap</a>
                <div class="mb-4">
                <a href="#" class="text-blue-500 text-sm ">Şifremi Unuttum</a>
                </div>
            </form>
        </div>

        </div>
</div>


@code{}