@page "/panel/teslimat"
@layout Components.Layout.MainLayout
<PageTitle>OMNIA</PageTitle>

<h3 class="text-xl lg:text-4xl text-blue-950 font-bold text-center p-4">
    Teslimatlar
</h3>

<form class="" @submit="SubmitForm">
    <div class="flex flex-col lg:flex-row px-4">
        <div class="flex flex-col w-full lg:w-1/6">
            <label class="text-blue-950" for="startDate">Başlangıç Tarihi</label>
            <InputDate class="rounded-md shadow-sm focus:outline-orange-500 py-1" @bind-Value="@startDate"></InputDate>
        </div>

        <div class="flex flex-col w-full lg:w-1/6 lg:px-4">
            <label class="text-blue-950" for="endDate">Bitiş Tarihi</label>
            <InputDate class="rounded-md shadow-sm focus:outline-orange-500 py-1" @bind-Value="endDate"></InputDate>
        </div>

        <div class="lg:px-4">
            <label class="text-blue-950" for="timeSpan">Zaman Aralığı</label>
            <div>
                <select class="rounded-md shadow-sm focus:outline-orange-500 p-2" id="timeSpan" @bind="selectedTimeSpan">
                    <option value="yesterday">Dün</option>
                    <option value="last3days">Son 3 Gün</option>
                    <option value="lastweek">Geçen Hafta</option>
                    <option value="lastmonth">Bu Ay</option>
                </select>
            </div>
        </div>
    </div>

    <div class="flex flex-col px-4">
        <label class="text-blue-950" for="textInput">Firma Adı</label>
        <div class="flex flex-col lg:flex-row lg:items-center">
            <input class="w-full lg:w-1/3 mr-4 rounded-md shadow-sm focus:outline-orange-500 py-1 mb-2 lg:mb-0" id="textInput" type="text" @bind-value="textInputValue" />
            <button class="shadow-sm rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold lg:px-8 px-1 py-1 mb-4 lg:mb-0 text-md" type="submit">Sorgula</button>
            <div class="flex flex-row items-center lg:ml-auto -mb-2 lg:mb-0">
                <div class="px-1">
                    <button class="shadow-sm rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md lg:px-8 px-1 py-1" type="">Excel</button>
                </div>

                <div class="px-1">
                    <button class="shadow-sm rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md lg:px-8 px-1 py-1" type="">PDF</button>
                </div>

                <div class="px-1">
                    <button class="shadow-sm rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md lg:px-8 px-1 py-1" type="">Yazdır</button>
                </div>

                <div class="px-1">
                    <button class="shadow-sm rounded-md bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 text-white font-bold text-sm lg:text-md lg:px-8 px-1 py-1" type="">Ekleri Gör</button>
                </div>
            </div>
        </div>
    </div>
</form>



<div class="flex flex-col p-4">
    <div class="bg-gradient-to-b from-blue-950 via-violet-950 to-purple-950 p-2 px-4 text-white font-bold">
        hhh
    </div>
    <div class="bg-white shadow-md p-4">
        tablo
    </div>
</div>


@code {
    private DateTime startDate;
    private DateTime endDate;
    private string textInputValue;
    private string selectedTimeSpan;

    protected override void OnInitialized()
    {
        startDate = DateTime.Today;
        endDate = DateTime.Today;
    }

    private void SubmitForm()
    {
        Console.WriteLine($"Selected Time Span: {selectedTimeSpan}");
        Console.WriteLine($"Selected Dates: {startDate} - {endDate}");
        Console.WriteLine($"Text Input Value: {textInputValue}");
    }
}
