html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('assets/omnia-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clickable {
    cursor: pointer;
}

.valid.modified:not([type=checkbox]) {
    outline: 2px solid orange;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: #e50000;
}

.blazor-error-boundary {
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}